
title {
    font-weight: bold;
}

body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text]{
    width: 400px;
    font-size:20px;
    padding:2px;
}

input[type=submit]{
    font-size: 24px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
}

hr {
    margin: 10px auto;
    clear: both;
    size: 3px;
}

.content {
    margin-top: 20px;
}

.content-subject {
    font-weight: bold;
    font-size: 2em;
    float: left;
}

.content-body {
    margin: 0;
    font-size: 17px;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    text-align:center;
}

form label div {
    font-size: 1em;
    font-weight: bold;

}
.timestamp {
    float: right;
    font-style:italic;
}

a {
	text-decoration: none;
	color: black;

}
