<!DOCTYPE html>

<html>
  <head>
    <title>Castano Blog</title>
      <link type="text/css" rel="stylesheet" href="stylesheets/main.css"/>
  </head>

  <body>
   <a href="/"><h1>Castano Blog</h1></a>

    <hr>

   {% for content in contents %}
     <div class="content">
       <div class="content-subject">{{content.subject}}</div>
       <div class="timestamp">{{content.created}}</div>
         <br>
         <hr>
       <pre class="content-body">{{content.content}}</pre>
     </div>
     <hr>
    {% endfor %}

  </body>
</html>