<!DOCTYPE html>

<html>
  <head>
    <title>Castano Blog</title>
      <link type="text/css" rel="stylesheet" href="stylesheets/main.css"/>
  </head>

  <body>
    <a href="/"><h1>Castano Blog</h1></a>

    <hr>

   <form method="post" >
       <label>
          <div>Subject</div>
          <input type="text" name="subject" value="{{subject}}">
       </label>

       <label>
          <div>Post</div>
          <textarea name="content">{{content}}</textarea>
       </label>

       <div class="error">{{error}}</div>

       <input type="submit">
   </form>

  </body>
</html>
